.DS_Store
yarn-error.log
archetype-debug.log
lerna-debug.log

node_modules/
**/dist/
.vscode/
compiled/

# Yarn PnP: https://github.com/yarnpkg/berry/issues/454#issuecomment-530312089
.yarn/unplugged
.yarn/build-state.yml
